@import "../SCSS/variables";
@import "../SCSS/mixins";
.main{
    font-family: $fontFamıly;
    width: 100vw;
    height: 100vh;
    background-color: rgb(60, 101, 126);
    .title{
        width: $width;
        h1{
            color: white;
        }
        button{
            background-color: white;
            border: none;
            padding: 7px;
        }
        
    }
    .table{
        
        border: 1px solid black;
        width: $width;
        height: 70vh;
                th{
                background-color: rgb(208, 202, 202) !important;
                text-transform: uppercase;
                @include center; 
                
            }
            tbody{
                @include center;
                tr{
                    cursor: pointer;
                    font-size: 1.2rem;
                }
            }
            
    }
  
}


@media screen and (max-width:480px) {
    .title{
        width: 90vw !important;
        h1{
            font-size: 1.2rem;
        }
        p{
            font-size: 12px;
        }
    }
    .table{
        width: 90vw !important;
        th{
            font-size: 12px;
        }
        td{
            font-size: 14px;
        }
    }
}
    
